body{
	width: 100%;
	height: 100%;
	background-image: url(img/bclover.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%; 
}
#trocaft{
	width: 90px;
	height: 90px;
	margin:auto;
	background-image: url(img/alv2.png);
	background-position: center;
	background-repeat: no-repeat;

}

#fundo1{
	float: right;
	color: white;
	text-align: center;
}

#fundo2{
	float: left;
	color: white;
	text-align: center;
}

#jogo{
	width: 552px;
	height: 586px;
	margin: auto;
	background: #233;
}
.casa{
	width:180px;
	height:180px;
	border: solid 2px;
	float: left;
}

#vez{
	width: 180px;
	margin:auto;
	margin-bottom: 20px;
	text-align: center;
	color: white;
}

.placar{
	width: 180px;
	height: 50px;
	margin:auto;
	background: #233;
	margin-bottom: 50px;
	text-align: center;
	color: white;
	border: solid black 2px;
}

#rodape{
	width: 548px;
	height: 30px;
	float: left;
	border: solid 2px;
}

.bt{
	width: 180px;
	height: 30px;
	background-color: #4CAF50;
	text-align: center;
	border:none;
	text-decoration: none;
	display: inline-block;
	border:1px solid #25692A;
	border-radius:4px;
	cursor:pointer;
	font-family:arial;
	font-weight:bold;
}
.bt-vd{
border-color:#68b465;
background:linear-gradient(to bottom, #abd5aa 5%, #68b465  100%);
box-shadow:inset 0px 1px 0px 0px #e3f1e3;
color:#3333;
text-shadow:0px 1px 0px #090909;
}

.bt-vd:hover {
background:linear-gradient(to bottom, #68b465 5%, #abd5aa 100%);
}

.bt:active {
position:relative;
top:2px;}
